<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myreliablegames.joe.montysays">

    <application
        android:allowBackup="true"
        android:icon="@drawable/button1press"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EasyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_easy"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myreliablegames.joe.montysays.MainActivity" />
        </activity>
        <activity
            android:name=".NormalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_normal"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myreliablegames.joe.montysays.MainActivity" />
        </activity>
        <activity
            android:name=".HardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_hard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.myreliablegames.joe.montysays.MainActivity" />
        </activity>
    </application>

</manifest>
